* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

body {
  background: #faf6ed;
  color: #222;
  -webkit-font-smoothing: antialised;
  display: grid;
  grid-template-columns: 1fr 120px minmax(300px, 800px) 1fr;
}

.menu {
  grid-column: 3/5;
  margin: 2rem 0;
  background: #fb5;
}

.menu ul {
  display: flex;
  flex-wrap: wrap;
}
